
@{
    ViewBag.Title = "Demolition";
}

<div class="container marketing">
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">How we go about it<span class="text-muted">Step 1</span></h2>
            <p class="lead">Firstly we get the site ready and complete all the necessary checks..</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

</div>