@{
    ViewBag.Title = "About";
}
<br /><br /><br /><br />

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
            <h2>Will Giles</h2>
            <p></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
            <h2>Daryl Hodder</h2>
            <p>Daryl is responsible for all our projects. A Carpenter by trade, he has managed many construction and demolition sites. He ensures the job is done on time, on budget, to the customer's satisfaction while everyone works safely.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
            <h2>MAC Team</h2>
            <p>Having the right people around you is crucial to a successful business. We ensure that we have the best people working with him.
The company motto is 'Safety First'. This means everyone on the team has a current Site Safe Construction Passport, there is always at least 1 person on every site with a current First Aid Certificate and everyone looks out for their own safety and that of others around them.</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->

</div>