@{
    ViewBag.Title = "Contact Us";
}
<br /><br /><br /><br />
<div class="container marketing">
    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/Content/Images/mac-developments-logo-01.png" alt="Logo">
        </div>
        <div class="col-md-7">
            <p class="lead">
                <h2><div class="featurette-heading">Phone: 03 383 1921</div></h2>
                <h3>Email:</h3>
                <a href="mailto:admin@macdevelopments.co.nz">admin@macdevelopments.co.nz</a>

                <h3>Address:</h3>
                <address>
                    Shop 18 Parklands Mall<br />
                    Queenspark Drive, Parklands<br />
                    Christchurch 8083<br />
                </address>
            </p>
        </div>
    </div>
</div>